body {
    font-family: sans-serif;
    margin: 2rem;
  }
  
  #theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  #theme-toggle:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }
  #btn-votar {
    visibility: hidden;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  .btn-disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  #btn-votar[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
  