body {
    font-family: sans-serif;
    margin: 2rem;
  }
  #btn-votar {
    visibility: hidden;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  .btn-disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  #btn-votar[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
  